
html {
	background-image: url('https://img1.coastalliving.timeinc.net/sites/default/files/styles/4_3_horizontal_-_1200x900/public/image/2018/05/main/palancar-beach-cozumel912441986.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	position: sticky;
}

h4, legend, p, label, div, button {
	color: grey;
}

h2 {
	font-family: 'Satisfy', cursive;
	font-size: 5em;
	font-weight: bold;
	color:  white;
	letter-spacing: 0.01em;
	display: flex;
  width: 45%;
  height: auto;
  margin: 25px auto;
	opacity: 0.9;
}

h3 {
	font-family: 'DM Serif Display', cursive;
	font-size: 2.75em;
	color: #00ccff;
}

h4, legend {
	font-family: 'DM Serif Display', cursive;
	font-size: 1.25em;
}

 p, label, div, button, input {
	font-family: 'Open Sans', sans-serif;
}

input {
	font-family: 'Open Sans', sans-serif;
}

fieldset {
	margin:  10px;
	padding: 2% 4%;
	border-radius: .5em;
	border-width: 5px;
	border-color: #00ccff;
	border-style: double;
	border-spacing: 3%;

}

input {
	 margin-left: 15px;
	 background-color: white; /* Remove background fill */
	 text-transform: uppercase; /* Make text all uppercase */
	 border-radius: 15%; /* Remove corner curve */
	 border: 2px solid #00ccff; /* 2px white border */
	 color: grey; /* White text */
	 height: 20%; /* Increase input height */
	 opacity: 1.0;
}

.tile, .inner-tile, .innermost-tile {
	background: white;
	margin: 40px 25px 25px 25px;
	padding: 18px;
	opacity: 0.8;
	border: 2px solid white;
  border-radius: 15px;
	max-width: 60%;
	margin: 1% auto;
}
legend {
	padding: 1%;
}

.tile {
	opacity: 0.8;
}

.inner-tile {
	opacity: 0.9;
}

.innermost-tile {
	opacity: 1.0;;
}

.tile-tile {
	background: transparent;
	margin: 40px 25px 25px 25px;
	padding: 18px;
	opacity: 0.0;
	border: 2px solid white;
  border-radius: 15px;
	max-width: 60%;
	margin: 20px auto;
	color: white;

}

.logo-image {
	max-width: 28%;
	max-height: 28%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	border: none;
	box-shadow: none;
	display: block;

/*
  display: table-cell;
  height: 500px;
  text-align: center;
  width: 500px;
  vertical-align: middle;
*/
}

button {
	font-variant-caps: all-small-caps;
}

.admin {
	font-variant-caps: all-small-caps;
}

#js-search-by-name	{
	display: block;
}

#js-search-by-category {
	display: none;
}

#js-listings-container {
	display: block;
}

#js-business-index-container {
	display: none;
}

#js-map {
		display: none;
    height: 400px;
		width: 100%;
}

#js-business-listing-details {
	display: none;
}

#js-form-container {
}

#js-add-business-form-container {
	display: none;
}

#js-flag-business-form-container {
	display: none;
}

#js-suggest-edit-form-container {
	display: none;
}

#js-add-review-form-container {
	display: none;
}

#js-add-image-form-container {
	display: none;
}

#js-admin-login-container {
	display: none;
}

#js-admin-panel-container {
	display: none;
	margin: auto;
}

#js-admin-hidden-button-container {
	padding: 2px;
}

#js-admin-hidden-button {
	float: right;
	margin-right: 5%;
	margin-bottom: 5%;
	display: block;
	border-style: none;
	background: none;
	opacity: 0.7;
}

#js-admin-logout-button {
	display: none;
}

#js-admin-user-info {
	display: none;
}

#js-admin-menu-container {
	display: none;
}

#js-notes-form {
	display: none;
}

#entry-details-table {
	display: none;
}


/* Admin Tables Styling */

table {
		max-width: 10%;
}

th {
	text-align: center;
	background-color: grey;
	color: black;
}

td {
	color: grey;
}

th, td {
  padding: 15px;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}

map {
	padding: 10px;
	margin: 10px;
}

img {
  max-width: 95%;
  max-height: 95%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	border: solid 10px #00ccff;
	box-shadow:5px 5px 5px #999;
}
