
html {
	background-image: url('https://img1.coastalliving.timeinc.net/sites/default/files/styles/4_3_horizontal_-_1200x900/public/image/2018/05/main/palancar-beach-cozumel912441986.jpg');
	background-size:100%;

}

h2, h3, h4, legend {
	color: black;
}

#searchByName	{
	display: block;
}

#searchByCategory {
	display: none;
 }

fieldset {
	margin:  20px 15px;
}

input {
	 margin-left: 15px;
}

.tile {
	background: white;
	margin: 25px;
	padding: 30px;
	opacity: 0.7;
	filter: alpha(opacity=70);
	border: 2px solid white;
  border-radius: 15px;
}
